# macOS system files
.DS_Store
.AppleDouble
.LSOverride
poetry.lock
# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Python development
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
.env
.venv
ENV/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

artifactregistry.googleapis.com
cloudbuild.googleapis.com
cloudfunctions.googleapis.com
eventarc.googleapis.com
logging.googleapis.com
pubsub.googleapis.com
run.googleapis.com

gem-rush-007-a9765f2ada0e.json
gem-rush-007-firebase-adminsdk-pzp02-b7a2022e8b.json

games_cache_2024.json
mlb_game_events.json
tfidf_vectorizer.json.pkl